
body {
    background-image: linear-gradient(rgba(239,169,40,1), rgba(253,136,38,1));
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
  }

@font-face {
    font-family: "Graffiti";
    src: url(fonts/Urban\ Graffiti\ PERSONAL\ USE\ ONLY.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: "anu";
    src: url(fonts/Anuphan[wght].ttf);
}


.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: anu;
    font-weight: 500;
    font-size: 1.5vw;
}

.nav-left a, .nav-right a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-right {
    display: flex;
    gap: 10px;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(imgs/sunbursts2.png);
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-overlay {
    font-family: "Graffiti";
    margin-top: 10vw;
    color: white; /* Text color */
    font-size: 10vw; /* Adjust font size */
    padding: 20px; /* Add padding around the text */
    border-radius: 10px; /* Optional: rounded corners */
    text-align: center; /* Center-align the text */
}
.projects{
    background-image: url(imgs/projects\ bacground\ img.png);
    background-size: contain;
}

#projects-titleimg{
    width: 50vw;;
}

