
body {
    background-image: linear-gradient(rgba(239,169,40,1), rgba(253,136,38,1));
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
  }

@font-face {
    font-family: "Graffiti";
    src: url(fonts/Urban\ Graffiti\ PERSONAL\ USE\ ONLY.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: "anu";
    src: url(fonts/Anuphan[wght].ttf);
}


.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: anu;
    font-weight: 500;
    font-size: 1.5vw;
}

.nav-left a, .nav-right a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-right {
    display: flex;
    gap: 10px;
}

@keyframes rotate {
    0%      { rotate:0deg; }
    100%    { rotate:360deg; }
}

.background-container {
    display: flex;
   
    height: 50vw;
    animation: rotate;
    animation-duration: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   background-image: url(imgs/sunbursts2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    z-index: 0;
   
}
#sunburst{
    display: block;
    width: 100%; 
}

.text-overlay {
    position: absolute;
    display: block;
    margin-top: 10vw;
    font-family: "Graffiti";
    color: black; /* Text color */
    font-size: 20vw; /* Adjust font size */
    border-radius: 10px; /* Optional: rounded corners */
    text-align: center; /* Center-align the text */
    -webkit-text-stroke-width: 0.8vw;
    -webkit-text-stroke-color: white;
    z-index: 10;
    letter-spacing: 1vw;
}
.text-overlay1{
    margin-bottom: 20vw;
   right: 50vw;
    position: absolute;
    margin-inline: auto; 
    display: block;
    font-family: "Graffiti";
    color: black; /* Text color */
    font-size: 7vw; /* Adjust font size */
    border-radius: 10px; /* Optional: rounded corners */
    -webkit-text-stroke-width: 0.3vw;
    -webkit-text-stroke-color: white;
    padding-top: 10vw;
    z-index: 10;
}
#titlecity{
    width: 55vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#circles{
    position: absolute;
    width: 6vw;
    right: 30vw;;
    top: 15vw; 
}
#graffitistars{
    position: absolute;
    width: 25vw;
    left: 12vw;
}
#paintsplash{
    width: 60vw;
    top: -1vw;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}
.projects{
    background-image: url(imgs/projects\ bacground\ img.png);
   background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center -10vw;
}
.project-title{
    display: flex;
    justify-content: center;
}
#projects-titleimg{
   width: 65vw;
   
}

.scroll{
   
    max-height: 25vw;
    display: flex;
    overflow-x: auto;
    
}

.scroll::-webkit-scrollbar{
    width: 0;
}

/*scroll items size */

.scroll .item{
    
    min-width: 25vw;
    height: 25vw;
    line-height: 25vw;
    border-radius: .8vw;
    text-align: center;
    background-color: red;
    margin-right: 10vw;
    margin-left: 3vw;
}
.ABOUT-ME{
    background-color: #250E04;
    height: 90vh;
}