body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}
@font-face {
    font-family: "Graffiti";
    src: url(fonts/Urban\ Graffiti\ PERSONAL\ USE\ ONLY.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: "anup";
    src: url(fonts/Anuphan[wght].ttf);
}
.navbar {
    position: absolute;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: anup;
    font-weight: 600;
    font-size: 1.5vw;
    
}

.nav-left a, .nav-right a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.nav-right {
    display: flex;
    gap: 10px;
}
#logo-img{
    width: 5vw;
}

.Hero{
    background-color: white;
    padding: 20px;
    padding-top: 10vh;
    display: flex;
    justify-content: center
}


.hero-container{
    align-items: center;
    border: 2px solid black
}
#hero-image{
    width: 65vw;
}

.hero-descp{
    background-color: whitesmoke;
}
.project-introduction{
    display: flex;
}
.project-title p{
    color: white;
    font-family: anup;
    padding-left: 10vw;
}
.introduction-text h1{
    padding-top: 50px;
    color: white;
    font-family: anup;
    font-size: 1.8vw;
    padding-left: 10vw;
    width: 45vw;

}
#projecttitle-img{
    width: 40vw;
}
.leftright-section{
    display: flex;
    padding-top: 5vw;
    padding-bottom: 10vw;
}

.section-title h1{
    padding-left: 5vw;
    font-family: anup;
    color: white;
    width: 30vw;
    font-size: 2.5vw;

}
.section-text p{
    color: white;
    font-family: anup;
    padding-left: 15vw;
    width: 35vw;
    font-weight: bold;
    font-size: 1.8vw;
}
.research-section{
    display: flex;
}
.research-text h1{
    padding-left: 5vw;
    font-family: anup;
    color: white;
    width: 30vw;
    font-size: 2.5vw;
    
}
.research-text p{
    color: white;
    font-family: anup;
    padding-left: 5vw;
    width: 35vw;
    font-weight: 500;
    font-size: 1.8vw;

}
 .research-text a{
    color: white;
}
.images-side{
    padding-left: 10vw;

}
#set-images{
    width: 35vw;
    padding-bottom: 20px;
}
#tall-images{
    height:35vw;
    
}
#brdy{
    width: 15vw;
}
#small{
    width: 25vw;
}
#smaller{
    width: 10vw;
}
#logotest{
    margin-top: 20vh;
    width: 40vw;
}
.field-research{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vw;
}
.fieldresearch-text h1{
    margin: 0 auto;
    font-family: anup;
    color: white;
    width: 30vw;
    font-size: 2.5vw;
}
.fieldresearch-text p{
    margin: 0 auto;
    color: white;
    font-family: anup;
    width: 50vw;
    text-align: center;
    font-weight: 500;
    font-size: 1.5vw;

}
.images-middle{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2vw;
    
}
#setm-images{
    width: 35vw;
    

}

.set-section{
    display: flex;
    margin-top: 10vw;
}
.section2-text h1{
    padding-left: 5vw;
    font-family: anup;
    color: white;
    width: 30vw;
    font-size: 2.5vw;
    
}
.section2-text p{
    color: white;
    font-family: anup;
    padding-left: 5vw;
    width: 35vw;
    font-weight: 500;
    font-size: 1.8vw;

}
a{
    color: white;
}

   
    
